@model RestauranteEtec.Models.Blog
@{
    ViewData["Title"] = "Blog";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row mt-3">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="card-title">Detalhes do Blog</div>
                <hr>
                <div class="row">
                    <div class="col-md-3">
                        <img src="@(System.IO.File.Exists(ViewData["wwwroot"] + Model.Imagem) ?
                                    Url.Content(Model.Imagem) : Url.Content("~/images/sem_foto.png"))"
                             class="img-fluid" id='PreviewImagem' />
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <label class="col-2" asp-for="Titulo"></label>
                            <label class="col-10">@Html.DisplayFor(model => model.Titulo)</label>
                        </div>
                        <div class="row">
                            <label class="col-2" asp-for="DataCadastro"></label>
                            <label class="col-10">@Html.DisplayFor(model => model.DataCadastro)</label>
                        </div>
                        <div class="row">
                            <label class="col-2" asp-for="Texto"></label>
                            <label class="col-10">@Html.DisplayFor(model => model.Texto)</label>
                        </div>
                    </div>
                </div>

                <div class="mt-3">
                    <a class="btn btn-warning mr-3" asp-action="Edit" asp-route-id="@Model.Id">Alterar</a>
                    <a class="btn btn-light" asp-action="Index">Voltar a Listagem</a>
                </div>
            </div>
        </div>
    </div>
</div>
